body {
  background-color: rgb(255, 255, 255);
  font: 400 0.75em/1.18 Roboto;
  color: #aaadae;
}

.container-1 p,
.text-10 p,
.text-11 p,
.text-12 p,
.text-13 p,
.text-14 p,
.text-5 p,
.text-6 p,
.text-8 p,
.text-9 p {
  margin-bottom: 1em;
}

.ak {
  float: left;
  margin-left: 3.90625%;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.element {
  float: left;
  width: 100%;
  background-color: #000000;
}

.element .image {
  width: 331px;
}

.element .text {
  color: #aaadae;
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.k,
.ki {
  float: left;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.mt {
  float: left;
  clear: both;
  margin: 31px 0 0 -0.00888%;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.oz {
  float: left;
  margin-left: -0.00888%;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.text {
  float: left;
}

.v {
  float: left;
  clear: both;
  margin: 57px 0 0 3.90625%;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.y {
  float: left;
  clear: both;
  margin-top: 83px;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

._button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 14.4270833333%;
  height: 55px;
  margin: 68px 0 0 28.80127%;
  border-radius: 3px;
  background-color: #7ea935;
  font-size: 1.083em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: #71992e;
}

.container-1 {
  float: left;
  width: 414px;
  height: 58px;
  margin: 17px 0 0 16.30127%;
}

.container-2 {
  float: right;
  width: 322px;
  height: 22px;
  margin: 35px 16.79525% 0 0;
}

.container-3 {
  float: left;
  clear: both;
  width: 100%;
  height: 848px;
  background-image: url('../images/rawpixel-com-323215_3.jpg');
  background-size: cover;
  background-position: center center;
}

.container-4 {
  float: left;
  width: 176px;
  height: 400px;
  margin: 68px 0 0 16.82129%;
}

.container-5 {
  float: left;
  width: 201px;
  height: 400px;
  margin: 68px 0 0 8.84766%;
}

.container-6 {
  float: left;
  width: 256px;
  height: 400px;
  margin: 68px 0 0 7.27946%;
}

.container-7 {
  float: left;
  width: 224px;
  height: 142px;
  margin: 68px 0 0 5.34831%;
}

.element-1 {
  height: 95px;
  margin-top: 1px;
}

.element-2 {
  clear: both;
  padding-bottom: 51px;
}

.image-2 {
  position: relative;
  z-index: 4;
  width: 134px;
  margin: 68px 0 0 1.60726%;
}

.image-3 {
  position: relative;
  z-index: 5;
  width: 134px;
  margin: 68px 0 0 0.76986%;
}

.image-4 {
  position: relative;
  z-index: 6;
  width: 134px;
  margin: 68px 0 0 0.8252%;
}

.text-1 {
  margin: 19px 0 0 4.02325%;
  font-size: 1em;
  line-height: 0.18;
}

.text-11 {
  clear: both;
  margin-top: 31px;
  font-size: 1em;
}

.text-12 {
  clear: both;
  margin: 28px 0 0 3.90625%;
  font-size: 1em;
}

.text-13 {
  clear: both;
  margin: 31px 0 0 3.90625%;
  font-size: 1em;
}

.text-10,
.text-14 {
  clear: both;
  margin-top: 28px;
  font-size: 1em;
}

.text-2 {
  margin: 2px 0 0 -0.01941%;
  font-size: 1.25em;
  line-height: 1.38;
}

.text-3 {
  margin-left: 9.30707%;
  font-size: 1.333em;
  line-height: 1.38;
}

.text-4 {
  margin-left: 11.64111%;
  font-size: 1.333em;
  line-height: 1.38;
}

.text-5 {
  margin: 246px 0 0 28.90625%;
  font-size: 4.167em;
  line-height: 0.18;
  color: rgb(255, 255, 255);
}

.text-6 {
  clear: both;
  margin: 55px 0 0 28.90625%;
  font-size: 1.75em;
  line-height: 0.58;
  color: rgb(255, 255, 255);
}

.text-7 {
  visibility: hidden;
  clear: both;
  width: 14.3749999999%;
  margin: 39px 0 0 28.83789%;
  font-size: 1.333em;
  line-height: 1.38;
  color: rgba(255, 255, 255, 0.47);
}

.text-8 {
  clear: both;
  margin: 28px 0 0 -0.00888%;
  font-size: 1em;
}

.text-9 {
  clear: both;
  margin: 31px 0 0 -0.00888%;
  font-size: 1em;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a:hover {
  background-color: rgba(255, 255, 255, 0);
}

@media(max-width: 1400px) {
  .container .image {
    height: auto;
  }

  .container ._button {
    position: relative;
    z-index: 1;
    margin-left: 28.80022%;
  }

  .container .image-2 {
    position: relative;
    z-index: 4;
    margin-left: 1.60714%;
  }

  .container .image-3 {
    position: relative;
    z-index: 5;
    margin-left: 0.76897%;
  }

  .container .image-4 {
    position: relative;
    z-index: 6;
    margin-left: 0.82478%;
  }

  .container .text-7 {
    margin-left: 28.83705%;
  }

  .element .container-1 {
    margin-left: 16.30022%;
  }

  .element .container-2 {
    margin-right: 16.79464%;
  }

  .element .container-4 {
    margin-left: 16.8192%;
  }

  .element .container-5 {
    margin-left: 8.8471%;
  }

  .element .container-6 {
    margin-left: 7.27902%;
  }

  .element .container-7 {
    margin-left: 5.3471%;
  }
}