.text-3 a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.text-11 a:hover {
  font-style: normal;
  font-weight: inherit;
  color: #ffffff;
}

body {
  background-color: rgb(255, 255, 255);
  font: 400 0.75em/1.18 Roboto;
  color: #aaadae;
}

.container-1 p,
.text-10 p,
.text-11 p,
.text-12 p,
.text-13 p,
.text-14 p,
.text-5 p,
.text-6 p,
.text-8 p,
.text-9 p {
  margin-bottom: 1em;
}

.ak {
  float: left;
  margin-left: 3.88467%;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.container .container {
  float: left;
  width: 26.3541666666%;
  height: 56px;
  margin: 176px 0 0 30.19857%;
}

.element {
  float: left;
  width: 100%;
  background-color: #000000;
}

.element .image {
  width: 331px;
  margin-top: -12px;
}

.element .text {
  color: #aaadae;
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.k,
.ki,
.oz {
  float: left;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.mt {
  float: left;
  clear: both;
  margin-top: 31px;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.text {
  float: left;
}

.v {
  float: left;
  clear: both;
  margin: 57px 0 0 3.88467%;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

.y {
  float: left;
  clear: both;
  margin-top: 83px;
  font-size: 1.333em;
  line-height: 1.38;
  color: #ffffff;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 18.5416666666%;
  height: 55px;
  margin: 18px 0 0 30.56478%;
  border-radius: 3px;
  background-color: #7ea935;
  font-size: 1.083em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: #71992e;
}

.container-1 {
  float: left;
  width: 414px;
  height: 58px;
  margin: 17px 0 0 9.36508%;
}

.container-2 {
  float: right;
  width: 325px;
  height: 22px;
  margin: 25px 9.36508% 0 0;
}

.container-3 {
  float: left;
  clear: both;
  width: 100%;
  height: 848px;
  background-image: url('../images/rawpixel-com-323215_4.jpg');
  background-size: cover;
  background-position: center center;
}

.container-5 {
  float: left;
  width: 18.8020833333%;
  height: 400px;
  margin: 68px 0 0 10%;
}

.container-6 {
  float: left;
  width: 361px;
  height: 400px;
  margin: 68px 0 0 1.61377%;
}

.container-7 {
  float: left;
  width: 362px;
  height: 400px;
  margin: 68px 0 0 1.51042%;
}

.container-8 {
  float: left;
  width: 361px;
  height: 142px;
  margin: 68px 0 0 1.6154%;
}

.element-1 {
  margin-top: -1px;
  padding: 15px;
}

.element-2 {
  clear: both;
  padding-bottom: 51px;
}

.image-2 {
  width: 136px;
  margin-left: 0.85845%;
  opacity: 0.4;
}

.image-3 {
  width: 134px;
  margin-left: 5.40082%;
  opacity: 0.4;
}

.image-4 {
  width: 169px;
  margin: -7px 0 0 5.18775%;
  opacity: 0.4;
}

.image-2:hover,
.image-3:hover,
.image-4:hover {
  opacity: 1;
}

.text-1 {
  margin: 9px 0 0 4.02325%;
  font-size: 1em;
  line-height: 0.18;
}

.text-11,
.text-9 {
  clear: both;
  margin-top: 31px;
  font-size: 1em;
}

.text-12 {
  clear: both;
  margin: 28px 0 0 3.88467%;
  font-size: 1em;
}

.text-13 {
  clear: both;
  margin: 31px 0 0 3.88467%;
  font-size: 1em;
}

.text-10,
.text-14,
.text-8 {
  clear: both;
  margin-top: 28px;
  font-size: 1em;
}

.text-2 {
  margin: 2px 0 0 -0.00962%;
  font-size: 1.25em;
  line-height: 1.38;
}

.text-3 {
  margin-left: 9.29808%;
  font-size: 1.333em;
  line-height: 1.38;
}

.text-4 {
  margin-left: 11.63462%;
  font-size: 1.333em;
  line-height: 1.38;
}

.text-5 {
  clear: both;
  margin: 80px 0 0 30.5127%;
  font-size: 4.167em;
  line-height: 0.18;
  color: rgb(255, 255, 255);
}

.text-6 {
  clear: both;
  margin: 39px 0 0 30.56478%;
  font-size: 1.75em;
  line-height: 0.58;
  color: rgb(255, 255, 255);
}

.text-7 {
  visibility: hidden;
  clear: both;
  width: 35.0520833333%;
  margin: 10px 0 0 30.61849%;
  font-size: 1.333em;
  line-height: 1.38;
  color: rgba(255, 255, 255, 0.47);
}

.ak a,
.k a,
.ki a,
.mt a,
.oz a,
.v a,
.y a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #737373;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-10 a,
.text-11 a,
.text-12 a,
.text-13 a,
.text-14 a,
.text-8 a,
.text-9 a {
  color: #737373;
}

.text-10 a:hover,
.text-12 a:hover,
.text-13 a:hover,
.text-14 a:hover,
.text-8 a:hover,
.text-9 a:hover {
  color: #ffffff;
}

.text-1 a,
.text-2 a,
.text-3 a,
.text-4 a {
  color: inherit;
}

.text-1 a:hover,
.text-2 a:hover,
.text-4 a:hover {
  color: rgb(255, 255, 255);
}